@import '_variables';

footer {
    background: linear-gradient(to top, rgba($primary-color, 1), rgba($primary-color, 0.8), transparent);
    color: $secondary-color;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px rgba($primary-color, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}